.text-area {
  resize: none;
  outline: none;
  width: 100%;
}

.text-area.edit-card__content {
  height: 80px;
  margin-bottom: 20px;
}

.text-area.card__content {
  cursor: default;
  height: 70px;
}

.text-area.new-card__content {
  height: 350px;
  margin: 20px 0;
}
